/* root */

:root {
    --button: #FF0000;
    --main-background:  #C4C4C4;
    --background: #E5E5E5;
    --text: #000;
    --footer: #000;
    --text-description: #9C9696;
  }

/* Reset CSS */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* Body Styles */

body,
html {
    height: 100%;
    width: 100%;
}

/* Styles */

body {
    background-color: var(--background);
}

header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

ul {
    display: flex;
    align-items: center;
    gap: 3rem;
    list-style: none;
}

a {
    color: var(--text);
    text-decoration: none;
    font-weight: 700;
    transition: transform 1s;
}

a:hover {
    transform: scale(1.1);
    color: #FF0000;
}

#search {
    background-image: url(./img/icon-search.svg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 1rem;
    text-align: center;
    padding: 10px;
    width: 80%; 
    border: 0px;
    font-weight: 400;
}

main {
    display: flex;
    justify-content: space-between;
    margin: 3rem;
}

.info-main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 2rem;
} 

.title {
    font-weight: 700;
    font-size: 50px;
}

.paragraph {
    font-weight: 400;
    color: var(--text-description);
}

.preço {
    font-weight: 700;
}

.btn-buy {
    width: 80%;
    padding: 1.5rem;
    background-color: var(--button);
    color: #fff;
    border-style: none;
    font-weight: 700;
    transition: 1s;
}

.icon-bag:hover {
    cursor: pointer;
}

.btn-buy:hover {
    background-color: rgba(34, 34, 34, 0.188);
    color: var(--text);
    cursor: pointer;
}

.img-main {
    background-color: var(--main-background);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;

}

.snekaers-img {
    display: flex;
    gap: 3px;
}

.img2 {
    border-bottom: 4px solid #FF0000;
}

.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3rem;
    margin: 0px;
    background-color: #fff;
}

.btn-footer {
    display: flex;
    align-items: center;
    justify-content: center; 
    border-style: none;
    width: 100vh;
    height: 26vh;
    background-color: var(--footer);
    color: #fff;
    transition: 1s;
    font-size: 17px;
}

.btn-footer:hover {
    background-color: rgba(34, 34, 34, 0.188);
    color: var(--text);
    cursor: pointer;
}

/* Responsivo*/


@media (max-width: 910px) {
    header {
        flex-direction: column;
    }

    ul {
        margin-top: 3rem;
        margin-bottom: 3rem;
        font-size: 14px;
        gap: 1rem;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    #search {
        width: 90%;
    }

    .logo {
        height: 90px;
        width: 90px;
        margin: auto;
    }

    main {
        flex-direction: column;
        margin: auto;
    }

    .info-main  {
        text-align: center;
        justify-content: center;
        align-items: center;
        margin-bottom: 1rem;
        margin-top: 4rem;
    }

    .img-main {
        width: 380px;
        gap: 2rem; 
        margin: auto;
    }

    .tenis-max {
        height: 300px;
        width: 300px;
    }

    .img1,
    .img2,
    .img3  {
        height: 120px;
        width: 120px;
    }

    .footer {
        flex-direction: column;
        margin-top: 9rem;
        overflow-x: hidden;
        width: 100%;
    }

    .btn-footer {
        width: 100vh;
    }
}

